/* Reset default margin and padding */
* {
  padding: 0;
  margin: 0;
}

/* Set background-color */
body {
  background-color: #545863;
  height: 100vh;
  color: #fff;
  font-family: "Russo One", sans-serif;
  letter-spacing: 2px;
}

.container {
  display: flex;
  justify-content: center;
}

.grid {
  display: grid;
  /* Define 16 columns with equal width */
  grid-template-columns: repeat(16, 1fr);
  /* Define 16 rows with equal height */
  grid-template-rows: repeat(16, 1fr);
  width: 600px;
  height: 600px;
  box-shadow: 0px 0px 20px #ff2400;
}

.grid-item {
  width: 100%; /* Fill the width of the parent container */
  height: 100%; /* Fill the height of the parent container */
  background-color: #fff;
}
/* Positioned button container over sketch */
.button-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  width: 500px;
  margin-bottom: 50px;
}
/* Base button style */
#colorPicker,
#resetBtn,
#rainbowBtn {
  /* Box model properties */
  width: 100px;
  height: 70px;
  box-sizing: content-box;

  /* Background and text properties */
  background-color: #ff2400;
  color: #fff;
  font-family: "Russo One", sans-serif;
  font-size: 20px;

  /* Border and other visual properties */
  border: none;
  border-radius: 5px;
  cursor: pointer;

  /* Transitions */
  transition: width 0.3s, height 0.3s;
}

#colorPicker:hover,
#resetBtn:hover,
#rainbowBtn:hover {
  width: 110px; /* Increase width on hover */
  height: 75px; /* Increase height on hover */
}

#colorPicker:active,
#resetBtn:active,
#rainbowBtn:active {
  width: 90px; /* Decrease width on click */
  height: 65px; /* Decrease height on click */
}

#colorPicker {
  padding: 0;
  background-color: white;
}

/* Header for webpage */
h1 {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 50px;
  font-size: 3rem;
  text-shadow: 7px 7px black;
}

/* Adjusts the size of slider value as well
as positioning it right */
.slider-Container {
  width: 300px;
  margin: 20px auto;
}

#sliderValue {
  display: block;
  text-align: center;
}

#slider {
  -webkit-appearance: none;
  width: 100%;
  height: 0.5rem;
  border-radius: 5px;
  outline: none;
  margin-bottom: 10px;
}

#slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 1rem;
  height: 1rem;
  background-color: #ff2400;

  cursor: pointer;
  outline: none;
  box-shadow: 0 0 0 0 #ff2400;
  transition: 0.3s ease-in-out;
}

#slider::-webkit-slider-thumb:hover {
  box-shadow: 0 0 0 7px #ff2400;
}

#slider::-webkit-slider-thumb {
  box-shadow: 0 0 0 3px #ff2400;
}

div {
  text-align: center;
}

div > a {
  border: none;
  color: #ff2400;
  text-decoration: none;
}
