/* Reset default margin and padding */
* {
  padding: 0;
  margin: 0;
}
/* Set background-color */
body {
  height: 100vh;
  background-color: #545863;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.grid {
  display: grid;
  grid-template-columns: repeat(
    8,
    1fr
  ); /* Change width units to fractional units */
  grid-template-rows: repeat(
    8,
    1fr
  ); /* Change height units to fractional units */
  gap: 1px;
  border: 5px solid #e5e6e4;
  width: 600px;
  height: 600px;
}

.grid-item {
  background-color: red;
  width: 100%; /* Use percentage to fill parent container */
  height: 100%; /* Use percentage to fill parent container */
}
